/* ドラクエ風 */
body {
  /* @font-faceのfont-familyでつけた名前を指定 */
  /* font-family: 'myfont', sans-serif; */
}

/* Webフォントを定義 */
/*
@font-face {
  font-family: 'myfont';
  src: url('../ttf/DragonQuestFC.ttf') format('truetype');
  src: url('../ttf/DragonQuestFCIntact.ttf') format('truetype');
}
*/

.container1 {
  /* border: 2px solid red; */
  background-image: url(../img/background/shop.jpg);
  background-size: cover;
  bottom: 20%;
  width: 90vw;
  height: 90vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}

 .reception {
  color: #FFF;
  top: 10%;
  left: 5%;
  width: 20%;
  height: 30%;
  border: 5px solid white;
  border-radius: 10px;
  margin: 0 auto;
  padding: 1em;
  float: left;
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,255,0.5);
}

/* メッセージ */
.message_window2 {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 10%;
  border: 5px solid white;
  border-radius: 10px;
  margin: 0 auto;
  padding: 1em;
  float: left;
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,255,0.5);
  color: #FFF;
  font-size: 18px;
}

.select_window {
  border: 5px solid white;
  color: #FFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 30%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 1em;
  float: left;
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,255,0.5);
}

.torneko {
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 88%;
  background-repeat: no-repeat;
  /* border: 5px solid white;  */
  /* background-image: url(../img/character/Torneko.png); */
  position: absolute;
}

/* メッセージのアニメーション */
@-webkit-keyframes typing2 {
  from { width: 0 }
  to { width:100% }
}

span.message2 {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing2 1.5s;
}


.container2 {
  /* border: 2px solid red; */
  background: #000;
  width: 90vw;
  height: 90vh;
  margin: auto;
  position: relative;
}

/* 戦闘画面全体のデザイン */
.battle_window {
  border: 1px solid white;
    /* background-color: blue; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  color: white;
  position: absolute;
}

.shake {
  animation: shake 0.01s infinite;
}

@keyframes shake {
  0% {transform: translate(-50%, -50%) rotateZ(0deg)}
  25% {transform: translate(-51%, -51%) rotateZ(1deg)}
  50% {transform: translate(-50%, -51%) rotateZ(0deg)}
  75% {transform: translate(-51%, -50%) rotateZ(-1deg)}
  100% {transform: translate(-50%, -50%) rotateZ(0deg)}
}

/* @keyframes shake {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
} */

/* キャラクター1 戦闘ステータス画面 */
.character_status {
  /* background-color: green; */
  width: 100%;
  height: 20%;
}

.character1 {
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 0.3em;
  float: left;
}

/* キャラクター2 戦闘ステータス画面 */
.character2 {
  /* background-color: rgba(255, 251, 0, 0.781); */
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 0.3em;
  float: left;
}

.field_container {
  /* border: 1px solid white; */
  width: 100%;
  height: 50%;
  position: relative;
  overflow:hidden;
}

.effect_freezing_waves {
  border: 1px solid yellow;
  background-image: url(../img/effect/freezing_waves.gif);
  margin: auto;
  background-size: cover;
  width: 100%;
  height: 220%;
  opacity: 1;
  top: 20%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  animation: img-wrap 5.0s infinite;
  z-index: 1;
}

@keyframes img-wrap {
  0% {
    opacity: 0.3;
    clip-path: circle(0 at 50% 50%);
    -webkit-clip-path: circle(0 at 50% 70%);
  }

  100% {
    opacity: 0;
    clip-path: circle(100% at 50% 50%);
    -webkit-clip-path: circle(100% at 50% 70%);
  }
}

.effect_field {
  background-color: rgba(181, 61, 61, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: ;
}

.effect_panta_rhei_cutin {
  /* border: 5px solid yellow; */
  background-image: url(../img/effect/panta_rhei_cutin.gif);
  box-shadow:
    0px 10px 10px rgb(255, 255, 180) inset,
    0px -10px 10px rgb(255, 255, 180) inset;
  background-position: center;
  margin: auto;
  /* background-size: cover; */
  text-align: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 60%;
  opacity: 1;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  animation: cutin 2s infinite;
  z-index: 1;
}

@keyframes cutin {
  0% {
    opacity: 0;
    transform: translate(-150%,-50%)
  }

  10% {
    opacity: 1;
    transform: translate(-50%,-50%)
  }

  100% {
    opacity: 0;
    transform: translate(-50%,-50%)
  }
}

.enemy_field {
  /* border: 1px solid red; */
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 戦闘フィールドに表示する敵のステータス */
.enemy_status {
  /* border: 1px solid yellow; */
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  text-align: center;
  width: 10%;
  height: 30%;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  color: #FFF;
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;
  z-index: 2;
}

/* field_container内に表示する敵キャラの画像サイズ及び配置位置 */
.enemy-image {
  /* border: 1px solid yellow; */
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  animation: bound 1.0s infinite;
}

.enemy-image-size {
   /* border: 1px solid yellow; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  position: absolute;
}

.enemy-image2-size {
  /* border: 1px solid yellow; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  position: absolute;
}

.enemy-image3-size {
  /* border: 1px solid yellow; */
  top: 61%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  position: absolute;
}

.enemy-image4-size {
  /* border: 1px solid yellow; */
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 300px;
  position: absolute;
}

@keyframes bound { /* スライムを跳ねさせる */
  0%,100% { /* 開始と終わり */
    /* top: 0; */
    transform: translate(0%, 0%) scale(1); /* 開始と終わりの標準値 */
  }

  30% {
    /* top: -60%; */
    transform: translate(0%,-60%) scale(0.7,1.2); /* X軸(0.7)縮める Y軸(1.2)伸びる */
  }

  60% {
    transform: scale(1);
  }

  90% {
    /* top: 0; */
    transform: translate(0%,0%) scale(1.3,0.8);
  }
}

.shadow {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 41px;
  height: 3px;
  background: #000;
  border-radius: 50%;
  opacity: 1;
  filter: blur(3px);
  z-index: 3;
  animation: shadow-animation 1s infinite;
}

@keyframes shadow-animation {
  0%,100% {
    transform: scale(1);
    filter: blur(3px);
  }

  30% {
    transform: scale(0.7,1.2);
    filter: blur(3px);
  }

  60% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.3,0.8);
    filter: blur(2px);
  }
}

/*
.enemy-image2 {
  border: 1px solid yellow;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 30%;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
}
*/

/*
.enemy-image img {
  width: 100px;
  height: 100px;
}
*/

/*
.enemy-image2 img {
  width: 400px;
  height: 300px;
  opacity: 1;
  z-index: 2;
}
*/

.battle_field {
  /* border: 1px solid red; */
  background: url(../img/background/forest.png);
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.battle_field2 {
  /* border: 1px solid red; */
  background: url(../img/background/castle_ruins.jpg);
  background-size: cover;
  width: 100%;
  height: 150%;
  bottom: -150px;
}

.battle_field3 {
  /* border: 1px solid red; */
  background: url(../img/background/crystar.png);
  background-size: cover;
  width: 100%;
  height: 150%;
  bottom: -150px;
}

.battle_field4 {
  /* border: 1px solid red; */
  background:#FFF;
  background-size: cover;
  width: 100%;
  height: 150%;
  bottom: -150px;
}

.enemy_receive_damage {
  -webkit-animation: blink 0.05s ease-in-out infinite alternate;
  animation: blink 0.05s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
0% {opacity: 0;}
100% {opacity: 1;}
}

@keyframes blink {
0% {opacity: 0;}
100% {opacity: 1;}
}

/* メニュー */
.battle_menu {
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 15px;
  padding: 0.3em;
  float: left;
}

/* メッセージ */
.message_window {
  width: 70%;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  float: left;
}

/* メッセージのアニメーション */
@-webkit-keyframes typing {
  from { width: 0 }
  to { width:100% }
}

span.message {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 1.5s;
}

/* メニュー用 */
.menu {
  cursor: pointer;
}

.menu::before {
  cursor: pointer;
  content: ' ';
}

/* メニュー選択状態 */
.menu-active::before {
  content: '▶';
  -webkit-animation: blink 0.3s ease-in-out infinite alternate;
	animation: blink 0.3s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/* HP50%時 下記CSSで全体枠を黄色 */

.battle_window_yellow {
  border: 1px solid yellow;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  color:yellow;
  position: absolute;
}

/* .battle_window_yellow {
  border: 1px solid yellow;
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: 90%;
  background-color: #000;
  color:yellow;
} */

.character1_yellow {
  width: 100px;
  border: 2px solid yellow;
  border-radius: 10px;
  margin: 10px;
  padding: 0.3em;
  float: left;
}

.character2_yellow {
  width: 100px;
  border: 2px solid yellow;
  border-radius: 10px;
  margin: 10px;
  padding: 0.3em;
  float: left;
}

.battle_menu_yellow {
  width: 100px;
  border: 2px solid yellow;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 15px;
  padding: 0.3em;
  float: left;
}

.message_window_yellow {
  width: 70%;
  height: auto;
  border: 2px solid yellow;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  float: left;
}

/* HP0%時 下記CSSで全体枠を赤色 */

.battle_window_red {
  border: 1px solid red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  color: red;
  position: absolute;
}

/*
.battle_window_red {
  border: 1px solid red;
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: 90%;
  background-color: #000;
  color:red;
}
*/

.character1_red {
  width: 100px;
  border: 2px solid red;
  border-radius: 10px;
  margin: 10px;
  padding: 0.3em;
  float: left;
}

.character2_red {
  width: 100px;
  border: 2px solid red;
  border-radius: 10px;
  margin: 10px;
  padding: 0.3em;
  float: left;
}

.battle_menu_red {
  width: 100px;
  border: 2px solid red;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 15px;
  padding: 0.3em;
  float: left;
}

.message_window_red {
  width: 70%;
  height: auto;
  border: 2px solid red;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  float: left;
}

.fade-out {
  z-index: 2;
  width: 90vw;
  height: 90vh;
  margin: auto;
  margin-left: 88px;
  position: absolute;
  animation: fadeOut 1s linear forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    background:#000; 
  }
  
  100% {
    opacity: 1;
    background:#000; 
  }
}

.fade-in {
  z-index: 2;
  width: 90vw;
  height: 90vh;
  margin: auto;
  margin-left: 88px;
  position: absolute;
  animation: fadein 0.5s linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 1;
    background:#000; 
  }
  
  100% {
    opacity: 0;
    background:#000; 
  }
}

/* 円形に徐々に表示するアニメーション */
/* 右半分 */
.circle-wrap {
  /* 全体枠 */
  /* border: 1px solid red; */
  position: relative;
  width: 90vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.circle {
  /* 右円周枠*/
  /* border: 1px solid yellow; */
  width: 500px;
  height: 500px;
  border-radius: 250px;
  background: #000;
}

.circle-right {
  /* 右円枠*/
  /* border: 1px solid blue; */
  position: absolute;
  width: 250px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(0%,-50%);
  overflow: hidden;
}

.circle-right-hidden {
  position: relative;
  left: -250px;
  width: 250px;
  height: 500px;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateRight 1s linear infinite paused;
  animation: rotateRight 1s linear infinite paused;
}

@-webkit-keyframes rotateRight {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes rotateRight {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}

.circle-left {
  /* 左円枠*/
  /* border: 1px solid green; */
  position: absolute;
  width: 250px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-100%,-50%);
  overflow: hidden;
}

.circle-left-hidden {
  position: relative;
  left: 250px;
  width: 250px;
  height: 500px;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateLeft 1s linear infinite paused;
  animation: rotateLeft 1s linear infinite paused;
}

.circle-left .circle {
  position: relative;
  left: -250px;
}

@-webkit-keyframes rotateLeft {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  50% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}

@keyframes rotateLeft {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  50% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}

.flash {
  animation: flash 0.5s linear forwards;
  width: 90vw;
  height: 90vh;
  margin: auto;
  margin-left: 88px;
  position: absolute;
  z-index: 2;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
    background:#ffffff;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
    background:#ffffff;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    background:#ffffff;
  }
  
  60% {
    opacity: 1;
  }
  
  70% {
    opacity: 0;
    background:#ffffff;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
    background:#ffffff;
  }

  100% {
    opacity: 1;
  }
}
